.checkout-container {
  font-family: "Calibre", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
.checkout-container h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 8px;
}
.checkout-container h2 svg {
  margin-right: 8px;
  transform: translateY(3px);
}
.checkout-container header {
  color: #000;
  background: #fff;
  width: 100%;
}
.checkout-container header .simple-header {
  font-size: 16px;
  line-height: 1.2;
  padding: 1rem 0;
  text-align: center;
  margin: 0 auto;
  width: 1322px;
  position: relative;
}
.checkout-container header .simple-header .simple-nav {
  padding: 0 25px;
}
.checkout-container header .simple-header .simple-nav .simple-anchor {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.checkout-container header .simple-header .shoppingIcon {
  position: absolute;
  right: 0;
  top: 20px;
}
.checkout-container header .simple-header .shoppingIcon a {
  text-decoration: none;
  position: relative;
}
.checkout-container header .simple-header .shoppingIcon svg {
  color: black;
}
.checkout-container header .simple-header .shoppingIcon span {
  position: absolute;
  left: 0;
  top: 0px;
  font-size: 0.75rem;
  font-weight: 500;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #d31334;
}
.checkout-container .layout {
  margin: 0 auto;
  padding: 0 50px 60px;
}
.checkout-container .layout_header {
  margin: 24px 0;
  height: 48px;
  font-size: 34px;
  line-height: 48px;
}
.checkout-container .layout_timeOut {
  text-align: left;
  vertical-align: middle;
  box-sizing: content-box;
  padding: 12px;
  height: 24px;
  width: 1087.167px;
  margin: 0 auto 8px;
  background-color: #fff7da;
  border: 0.0625rem solid #8a6c00;
  font-weight: 400;
}
.checkout-container .layout_timeOut svg {
  color: #8a6c00;
  margin-right: 10px;
}
.checkout-container .layout_timeOut span {
  display: inline-block;
  transform: translateY(-5px);
}
.checkout-container .layout_mainContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}
.checkout-container .layout_mainContent_checkoutInfo {
  width: 721.25px;
  margin-right: 50px;
  padding: 0 25px;
}
.checkout-container .layout_mainContent_checkoutInfo_logInSuccess {
  padding: 16px 25px 40px;
  margin: 0 -25px 8px;
  background-color: #fff;
}
.checkout-container .layout_mainContent_checkoutInfo_logInSuccess img {
  width: 100px;
  margin-left: 80px;
  margin-top: 40px;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn {
  padding: 16px 25px 40px;
  margin: 0 -25px 8px;
  background-color: #fff;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_title .logIn_underline {
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
  font-weight: 600;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_title .logIn_icon {
  display: inline-block;
  transform: translateY(6px);
  margin-left: 4px;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_title:hover {
  cursor: pointer;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_wrong {
  display: none;
  text-align: left;
  vertical-align: middle;
  box-sizing: content-box;
  padding: 12px;
  height: 24px;
  width: 645.917px;
  margin: 0 auto 8px;
  background-color: #ffe1e4;
  border: 0.0625rem solid #d20014;
  font-weight: 400;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_wrong svg {
  color: #d20014;
  margin-right: 10px;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_wrong span {
  display: inline-block;
  transform: translateY(-5px);
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_inputs {
  display: flex;
  flex-direction: row;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_user, .checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_pwd {
  flex-basis: 50%;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_user:first-child, .checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_pwd:first-child {
  margin-right: 30px;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_user_label, .checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_pwd_label {
  height: 30px;
  padding: 4px 0;
  margin-top: 8px;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_user_alert, .checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_pwd_alert {
  color: #d20014;
  font-size: 13px;
  margin: 0 0 8px;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_user input, .checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_pwd input {
  width: 100%;
  border: 0.0625rem solid #000;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  height: 3.25rem;
  padding: 0.875rem 1rem;
  box-sizing: border-box;
  margin-bottom: 8px;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_user input:focus, .checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_pwd input:focus {
  outline: none;
  border: 0.0625rem solid red;
  box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.45);
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_user_forget, .checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_pwd_forget {
  position: relative;
  text-decoration: underline #8d9196;
  padding-bottom: 4px;
  text-underline-offset: 0.375rem;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_user_forget:hover, .checkout-container .layout_mainContent_checkoutInfo_logIn_inputs .logIn_pwd_forget:hover {
  cursor: pointer;
  text-decoration: underline #d20014;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_submit {
  background-color: #000;
  color: #fff;
  height: 50px;
  width: 100%;
  padding: 16px;
  margin: 15px 10px 0 0;
  border-radius: 0.25rem;
  font-size: 14px;
  font-weight: 600;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_submit:hover {
  background-color: #54565a;
  cursor: pointer;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_policy {
  margin-top: 8px;
  font-size: 12px;
  line-height: 25px;
  color: #57585b;
  padding-bottom: 4px;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_policy span {
  font-size: 12px;
  text-decoration: underline 0.0625rem #8d9196;
  padding-bottom: 4px;
  text-underline-offset: 0.375rem;
}
.checkout-container .layout_mainContent_checkoutInfo_logIn_policy span:hover {
  text-decoration: underline 0.0625rem #d20014;
  cursor: pointer;
}
.checkout-container .layout_mainContent_checkoutInfo_contact {
  padding: 16px 25px 40px;
  margin: 0 -25px 8px;
  background-color: #fff;
}
.checkout-container .layout_mainContent_checkoutInfo_contact .contact_email_label {
  height: 30px;
  padding: 4px 0;
  margin-top: 8px;
}
.checkout-container .layout_mainContent_checkoutInfo_contact .contact_email_alert {
  color: #d20014;
  font-size: 13px;
  margin: 0 0 8px;
}
.checkout-container .layout_mainContent_checkoutInfo_contact .contact_email input {
  width: 100%;
  border: 0.0625rem solid #000;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  height: 3.25rem;
  padding: 0.875rem 1rem;
  box-sizing: border-box;
  margin-bottom: 8px;
}
.checkout-container .layout_mainContent_checkoutInfo_contact .contact_email input:focus {
  outline: none;
  border: 0.0625rem solid red;
  box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.45);
}
.checkout-container .layout_mainContent_checkoutInfo_contact .contact_policy {
  display: flex;
  flex-direction: row;
}
.checkout-container .layout_mainContent_checkoutInfo_contact .contact_policy_icon {
  transform: translateY(2px);
  color: #8d9196;
}
.checkout-container .layout_mainContent_checkoutInfo_contact .contact_policy_icon:hover {
  cursor: pointer;
}
.checkout-container .layout_mainContent_checkoutInfo_contact .contact_policy_details {
  margin-left: 8px;
  line-height: 24px;
}
.checkout-container .layout_mainContent_checkoutInfo_contact .contact_policy_details span a {
  text-decoration: underline;
}
.checkout-container .layout_mainContent_checkoutInfo_shippingAddress {
  padding: 16px 25px 40px;
  margin: 0 -25px 8px;
  background-color: #fff;
}
.checkout-container .layout_mainContent_checkoutInfo_shippingAddress .shipping_phone_label {
  height: 30px;
  padding: 4px 0;
  margin-top: 8px;
}
.checkout-container .layout_mainContent_checkoutInfo_shippingAddress .shipping_phone_alert {
  color: #d20014;
  font-size: 13px;
  margin: 0 0 8px;
}
.checkout-container .layout_mainContent_checkoutInfo_shippingAddress .shipping_phone input {
  width: 100%;
  border: 0.0625rem solid #000;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  height: 3.25rem;
  padding: 0.875rem 1rem;
  box-sizing: border-box;
  margin-bottom: 8px;
}
.checkout-container .layout_mainContent_checkoutInfo_shippingAddress .shipping_phone input:focus {
  outline: none;
  border: 0.0625rem solid red;
  box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.45);
}
.checkout-container .layout_mainContent_checkoutInfo_shippingGift {
  padding: 16px 25px 40px;
  margin: 0 -25px 8px;
  background-color: #fff;
}
.checkout-container .layout_mainContent_checkoutInfo_payment {
  padding: 16px 25px 40px;
  margin: 0 -25px 8px;
  background-color: #fff;
}
.checkout-container .layout_mainContent_checkoutInfo_payment div:first-child {
  margin-top: 30px;
  margin-left: 40px;
  transform: scale(1.1);
}
.checkout-container .layout_mainContent_myBag {
  padding: 16px;
  width: 342.35px;
  height: 600px;
  background-color: lightblue;
}
.checkout-container .simple-footer {
  background-color: #fff;
}
.checkout-container .simple-footer .simple-contact {
  margin: 0 auto;
  width: 1322px;
  color: #57585b;
  display: flex;
  padding: 1.5rem 1.5rem 0.75rem;
  flex-direction: column;
  align-items: flex-start;
}
.checkout-container .simple-footer .simple-anchor-anchor {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  font-weight: 600;
  font-size: 0.95rem;
}
.checkout-container .simple-footer .simple-anchor-underline {
  position: relative;
  margin-bottom: 1rem;
}
.checkout-container .simple-footer .simple-anchor-underline:after {
  background: #d31334;
  bottom: -0.3rem;
  content: "";
  display: block;
  height: 0.125rem;
  position: absolute;
  left: 0;
  right: 100%;
  top: auto;
  transition: right 0.25s ease-in-out;
}
.checkout-container .simple-footer .simple-anchor-underline:hover {
  cursor: pointer;
}
.checkout-container .simple-footer .simple-anchor-underline:hover:after {
  background: #d31334;
  bottom: -0.3rem;
  content: "";
  display: block;
  height: 0.125rem;
  position: absolute;
  right: 0;
  left: 0;
  top: auto;
  transition: right 0.25s ease-in-out;
}
.checkout-container .simple-footer .simple-legal-menu {
  margin: 0 auto;
  width: 1322px;
  transform: translateX(0.5rem);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #57585b;
  display: flex;
  flex-direction: column-reverse;
  padding: 1.5rem 1rem;
  border-top: #d3d5d7 1px solid;
}
.checkout-container .simple-footer .simple-legal-menu .legal-links {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.checkout-container .simple-footer .simple-legal-menu .legal-links a {
  font-size: 0.875rem;
}

/*# sourceMappingURL=Checkout.css.map */
